.dark {
  /* ==== Brand Colors ==== */
  --color-primary: rgb(255 182 149);
  --color-primary-container: rgb(113 54 25);
  --color-primary-text: rgb(84 33 5);

  --color-secondary: rgb(230 190 173);
  --color-secondary-container: rgb(93 64 52);
  --color-secondary-text: rgb(68 42 31);

  --color-tertiary: rgb(209 200 143);
  --color-tertiary-container: rgb(78 71 27);
  --color-tertiary-text: rgb(54 49 6);

  /* ==== Error ==== */
  --color-error: rgb(255 180 171);
  --color-error-text: rgb(105 0 5);

  /* ==== Surface & Background ==== */
  --color-surface: rgb(26 18 14);
  --color-surface-text: rgb(241 223 216);

  --color-surface-variant: rgb(82 68 61);
  --color-surface-variant-text: rgb(216 194 186);

  /* ==== Outline ==== */
  --color-outline: rgb(160 141 133);
}
