@font-face {
    font-family:ScienceGothic;
    src: url(./Font/ScienceGothic.ttf);
}

html {
  min-height: 100%
}

body {
  margin: 0;
  background-image: -webkit-linear-gradient(top, #78912b, #658b33 42%, #708d2d 82%, #6d8b24);
  background-attachment: fixed;
  font-family:ScienceGothic;
  font-size: 15px
}

.wrapper {
  margin: auto;
  padding: 0 30px;
  max-width: 920px;
  line-height: 1.5
}

.wrapper  h1 {
  color: #fff;
  margin: 0;
  font-size: 2.5rem;
  text-shadow: 0px 6px 11px #654;
  letter-spacing: -.5px;
}
/* Frequator Ui Styles */
.frequator-ui {
  margin: 80px 0 40px
}

.frequator-ui .pp-btn {
  margin: 0 3px 9px 1px;
  padding: .58em 1em;
  width: 10em;
  font-size: 14px;
}

.frequator-ui #pp-indicator {
  display: inline-block;
  width: 24px;
  background-image: url(icons.png);
  height: 18px;
  vertical-align: middle;
  background-size: auto 24px;
  transition: opacity .2s;
}

.frequator-ui #pp-indicator.playing {
  opacity: 1
}

.frequator-ui #pp-indicator.sine {
  background-position: -122px -4px
}

.frequator-ui #pp-indicator.square {
  background-position: -173px -4px
}

.frequator-ui #pp-indicator.triangle {
  background-position: -148px -4px
}

.frequator-ui #pp-indicator.sawtooth {
  background-position: -199px -4px
}

.frequator-ui #pp-indicator.stopped {
  opacity: 0
}

.frequator-ui .slider {
  border: solid 1px #408538;
  height: 22px;
  margin: 40px 0px 18px 0px;
  box-shadow: 0px 0px 10px #4e8141;
}

.frequator-ui .slider,
.frequator-ui .slider .ui-slider-range {
  background: #69b739;
  background-image: linear-gradient(to bottom, #c0ffb0, #b0ffbd 42%, #a6e49b 82%, #b7e49b);
  background-image: -webkit-linear-gradient(top, #c0ffb0, #b0ffbd 42%, #a6e49b 82%, #b7e49b);
}

.frequator-ui .slider .ui-slider-handle {
  top: -5px;
  width: 22px;
  height: 32px;
  margin-left: -12px;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #ffffff, #e3e0de 42%, #c9c5c3 62%, #dbd4ce);
  background-image: -webkit-linear-gradient(top, #ffffff, #e3e0de 42%, #c9c5c3 62%, #dbd4ce);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, .3);
  outline: 0;
}

.frequator-ui .slider .ui-slider-handle.ui-state-focus {
  background-image: linear-gradient(to bottom, #ffffff, #e3e0de 42%, #c9c5c3 62%, #dbd4ce);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, .3), inset 0 0 2px 3px #d3d3d3
}

.frequator-ui .controls {
  position: relative;
  display: flex;
  margin: auto;
  padding: 8px 0;
  max-width: 920px;
  font-size: 14px;
  font-weight: 600;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.frequator-ui .controls .control-group {
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  line-height: 51px;
}

.frequator-ui .controls .control-group>* {
  vertical-align: middle
}

.frequator-ui .controls span.separator {
  display: inline-block;
  margin-right: 45px
}

.frequator-ui .controls .control-group .volume-slider-label {
  display: inline-block;
  width: 24px;
  background-image: url(icons.png);
  height: 9px;
  background-size: auto 18px;
  background-position: -57px bottom;
  margin-right: 3px;
}

.frequator-ui .controls .control-group .volume-slider {
  display: inline-block;
  width: 80px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #3d8d23;
  background: #86993b;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .4) inset, 0 1px 1px rgba(255, 255, 255, .3);
}

.frequator-ui .controls .control-group .volume-slider .ui-slider-range {
  background-image: -webkit-linear-gradient(top, #52812f 0, #4c6e1ead 42%, #357a2c 82%, #4f7835 100%);
  background-image: linear-gradient(to bottom, #52812f 0, #4c6e1ead 42%, #357a2c 82%, #4f7835 100%);
}

.frequator-ui .controls .control-group .volume-slider .ui-slider-handle {
  width: 10px;
  height: 14px;
  top: -4px;
  border: solid 1px #286c23;
  margin-left: -6px;
  background: #324710ad;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .1);
}

.frequator-ui .controls .control-group .volume-readout {
  display: inline-block;
  width: 2.5em;
  margin-left: 5px;
  margin-right: 15px;
  font-weight: 400;
  font-size: 13px
}

.frequator-ui .controls .control-group .balance-control {
  width: 37px;
  height: 18px;
  padding: 3px 0 0;
  text-align: center
}

.frequator-ui .controls .control-group .balance-control>svg {
  height: 11px;
  width: 27px;
  fill: #fff
}
.frequator-ui .controls .control-group .wave-selector {
  text-align: center;
  width: 31.5px;
  margin-left: 5px;
  padding-left: 5px;
}
.frequator-ui .controls .control-group .wave-selector span {
  vertical-align: middle;
  width: 15px;
  height: 14px;
  background-size: auto 15px;
  display: inline-block;
  background-image: url(icons.png);
}
.frequator-ui .controls .control-group .wave-selector span.image-sine {
  background-position: -140px -2px
}
.frequator-ui .controls .control-group .wave-selector span.image-square {
  background-position: -172px -2px
}
.frequator-ui .controls .control-group .wave-selector span.image-triangle {
  background-position: -156px -2px
}
.frequator-ui .controls .control-group .wave-selector span.image-sawtooth {
  background-position: -188px -2px
}
.frequator-ui .controls .control-group button {
  margin-bottom: 3px;
  padding: 1px 5px;
  color: #fff;
  text-align: left;
}
.frequator-ui .controls .control-group .small-button {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #22420e;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0 rgb(0 0 0 / 40%);
  overflow: hidden;
  margin-top: 3px;
  border: none;
  margin-bottom: 0;
  letter-spacing: normal;
  padding: 0;
}
.frequator-ui .controls .control-group .small-button:hover {
  background: #297020;
}
.frequator-ui .controls .control-group .freq-button {
  width: 24px;
  height: 32px;
  background-size: auto 32px;
  cursor: pointer;
  background-color: inherit;
  border: 0;
  box-shadow: none;
  display: inline-block;
  background-image: url(icons.png);
}
.frequator-ui .controls .control-group #freq-down-button {
  background-position: 0 0;
}
.frequator-ui .controls .control-group #freq-up-button {
  background-position: -26px 0;
}
.frequator-ui .controls .control-group #freq-down-button:hover {
  background-position: -48px 0;
}
.frequator-ui .controls .control-group #freq-up-button:hover {
  background-position: -74px 0;
}
.freq-readout {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 142px;
  font-size: 23px;
  cursor: pointer;
  -moz-user-select: -moz-all;
  -webkit-user-select: auto;
  user-select: all
}
.frequator-ui .controls .control-group .freq-readout:not(.editing):hover:after {
  position: absolute;
  display: inline-block;
  bottom: -2px;
  left: 0;
  right: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  content: "CLICK TO EDIT";
  font-size: 10px;
  line-height: 13px;
  color: #86f15c;
  border-radius: 3px;
  letter-spacing: .7px;
  word-spacing: 1px;
  text-align: center;
  padding: 1px 2px
}
.frequator-ui .controls .control-group .freq-readout small {
  font-size: 70%;
  font-weight: 400
}
.frequator-ui .controls .control-group .freq-readout input[type=number] {
  position: absolute;
  display: block;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 15%;
  bottom: 15%;
  height: 70%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border: solid 1px #aaa;
  border-radius: 2px;
  background-color: #c5f3bf;
  padding: 4px
}
.frequator-ui .controls .control-group .note-selector-label {
  margin-right: 4px;
  width: 9px;
  height: 18px;
  background-size: auto 20px;
  background-position: -91px -1px;
  display: inline-block;
  background-image: url(icons.png);
}
.frequator-ui .controls .control-group .note-selector {
  position: relative
}
.frequator-ui .controls .control-group .note-selector:after {
  content: "▼";
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 1em;
  background: inherit;
  padding: 1px 3px 1px 5px
}
.frequator-ui .controls .control-group .get-link {
      margin-left: 50px;
}































p {
  line-height: 1.5
}

a {
  color: inherit
}

h1,
kbd {
  font-weight: 400
}

h1 {
  color: #fff;
  margin: 0;
  font-size: 2.5rem;
  text-shadow: 0px 6px 11px #654;
  letter-spacing: -.5px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  color: #000
}

kbd {
  padding: 0 4px;
  background-color: rgb(0 0 0 / 11%);
  color: #aef18d;
  white-space: nowrap;
  font-family: inherit;
  font-style: normal;
  font-size: 90%;
  border: 1px solid #3b6614;
  border-bottom-width: 2px;
  border-radius: 3px;
}

button,
span.button,
span.button-name {
  background-color: #324710ad;
  text-transform: uppercase
}

span.button-name {
  font-size: 13px;
  letter-spacing: .5px;
  color: #fff;
  padding: 1px 4px;
  border-radius: 3px
}

button,
span.button {
  display: inline-block;
  color: #fff;
  border: 0;
  letter-spacing: 1px;
  font-family: inherit;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .4);
}

button:focus {
  outline: dotted 1px rgba(255, 255, 255, .8)
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

button:hover,
span.button:hover {
  background-color: #3a7633;
  outline: none;
  border: none;
}

button.control-shown,
button.window-shown,
div.drop-down-menu>button.selected {
  background-color: #498723;
}

button#play-button {
  margin: 0 3px 9px 1px;
  padding: .58em 1em;
  width: 10em;
  font-size: 14px
}

#cookie-message {
  font-size: 12px;
  line-height: 18px;
  padding: 8px 12px;
  background-color: #3d1101;
  border-bottom: solid 2px #864a00
}

#cookie-message a:first-of-type {
  margin-left: 3px
}

#cookie-message a {
  margin-left: 1px;
  border-style: none;
  background-color: #602c0e;
  white-space: nowrap;
  border-radius: 3px;
  text-decoration: none;
  padding: 4px 10px;
  cursor: pointer;
  color: #af7b4b
}

#cookie-message {
  color: #af7b4b
}




div.drop-down-menu {
  position: relative;
  z-index: 200;
  padding: 21px 25px;
  background-color: #c6ff9b;
  border-radius: 3px;
  opacity: .98;
  box-shadow: 0 0 33px 11px rgba(0, 0, 0, .25)
}

div.drop-down-menu>div.tail {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #c6ff9b;
  position: absolute;
  top: -10px;
  margin-left: -10px;
  transform-origin: 50% 50%;
  transform: rotateZ(45deg);
  z-index: -1
}

div.drop-down-menu>button {
  padding: 6px
}



#balance-control-popup .balance-slider .ui-slider-handle.ui-state-focus,
#volume-slider .ui-slider-handle.ui-state-focus {
  box-shadow: -1px 1px 2px rgba(255, 255, 255, .1), inset -2px -2px 8px rgba(255, 255, 255, .6), inset 2px 2px 8px rgba(255, 255, 255, .6);
  outline: 0
}

#balance-control-popup .balance-button-section {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin: 0 auto 7px
}

#balance-control-popup .balance-button-section>button {
  display: inline-block;
  font-size: 11px
}

#balance-control-popup .balance-slider {
  display: inline-block;
  width: 200px;
  height: 10px;
  border-width: 1px;
  border-style: solid;
  background: #ce8856;
  border-color: #a55f2b;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .3)
}

#balance-control-popup .ui-widget-header {
  background: 0 0
}

#balance-control-popup .balance-slider .ui-slider-handle {
  width: 11px;
  height: 15px;
  top: -3px;
  border: solid 1px #965c33;
  background-image: -webkit-linear-gradient(top, #febe8f 0, #e7a26e 42%, #e09259 82%, #e19965 100%);
  background-image: linear-gradient(to bottom, #febe8f 0, #e7a26e 42%, #e09259 82%, #e19965 100%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .1)
}

#balance-control-popup .balance-readout {
  text-align: center;
  font-size: 13px
}

#balance-control-popup .speaker-icon {
  display: inline-block;
  height: 15px;
  width: 18px;
  fill: #874e23;
  vertical-align: -2px
}

#balance-control-popup #left-speaker-icon {
  margin-right: 5px
}

#balance-control-popup #right-speaker-icon {
  margin-left: 5px
}











#wave-selector-menu button {
  width: 63px;
  font-size: 9px;
  letter-spacing: .4px;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 1px;
  padding: 7px 6px 4px
}

#wave-selector-menu button:last-child {
  margin-right: 0
}

#wave-selector-menu button>span {
  display: block;
  margin: 1px 0 3px 14px;
  background-image: url(icons.png);
  width: 20px;
  height: 18px;
  background-size: auto 20px
}

#wave-selector-menu span.image-sine {
  background-position: -186px -4px
}

#wave-selector-menu span.image-square {
  background-position: -229px -4px
}

#wave-selector-menu span.image-triangle {
  background-position: -208px -4px
}

#wave-selector-menu span.image-sawtooth {
  background-position: -250px -4px
}

span.image-freq-down,
span.image-freq-up,
span.image-sine {
  display: inline-block;
  background-image: url(icons.png);
  vertical-align: baseline
}

span.image-sine {
  width: 16px;
  height: 13px;
  background-size: auto 14px;
  background-position: -130px 0
}

span.image-freq-down,
span.image-freq-up {
  width: 13px;
  height: 16px;
  background-size: auto 17px;
  margin-right: 1px
}

span.image-freq-up {
  background-position: -13px 0
}

#footer {
  margin: 60px 0 30px;
  font-size: 13px;
  color: #f4f2f2;
  text-shadow: -1px 1px 3px #654
}


nav {
  display: flex;
  font-size: 15px;
  margin: 15px auto;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  gap: 5px;
  text-decoration: none;
}

div#browser-warning {
  position: fixed;
  box-sizing: border-box;
  border-radius: 5px;
  top: 30%;
  left: 20%;
  width: 60%;
  padding: 2em;
  background-color: #999;
  opacity: .9;
  z-index: 1000;
  font-size: 18px;
  color: #fff
}

#get-link-window,
#note-selector-panel {
  border-radius: 3px;
  box-shadow: 0 0 120px 40px rgba(0, 0, 0, .25)
}

#get-link-window {
  z-index: 100;
  background-color: #fbc49d;
  padding: 35px;
  opacity: .97
}

#get-link-window .desc {
  margin-bottom: .25em
}

#get-link-window .message {
  font-size: 13px;
  font-style: italic;
  text-align: center;
  margin: 1em 0-1em
}

#get-link-window .box {
  background-color: #fff;
  border: solid 1px #aaa;
  padding: 4px 7px
}

#note-selector-panel {
  z-index: 90;
  height: 52%;
  min-height: 300px;
  bottom: 3%;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 22px 20px;
  background: #c6ff9b;
}

#note-selector-panel .close-button {
  position: absolute;
  box-sizing: content-box;
  right: 13px;
  top: 15px;
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  box-shadow: none;
  background: 0 0;
  border: solid 2px #29a700;
  color: #29a700;
}

#note-selector-panel .close-button:hover {
  background-color: rgba(255, 255, 255, .15)
}

#note-selector-panel>table {
  table-layout: fixed;
  width: calc(100% - 40px);
  height: 100%;
  border-collapse: collapse
}

#note-selector-panel>table td {
  height: 11.1%;
  white-space: nowrap
}

#note-selector-panel>table td.halftone {
  width: 6.5%
}

#note-selector-panel>table td.halftone button {
  opacity: .7
}

#note-selector-panel>table button {
  width: 100%;
  height: calc(100% - 10px);
  margin-bottom: 10px;
  font-size: 14px;
  overflow: hidden;
  padding: 0 2px;
  background-color: #404a09;
}

#note-selector-panel>table button.selected,
#note-selector-panel>table td.halftone button.selected {
  background-color: #0f6f17;
  opacity: 1
}

#note-selector-panel>table button:hover {
  filter: brightness(1.12)
}

#note-selector-panel button>small {
  display: block;
  font-size: 11px;
  opacity: .6;
  text-transform: none
}

@media only screen and (max-height:800px) {
  #note-selector-panel button>small {
    display: none
  }
}

.support {
  margin: 2em 0 10em
}

button.donate {
  padding: .6em .7em;
  font-size: 13px
}

.donate-tip {
  font-size: 13px;
  font-style: italic;
  text-align: center;
  margin-top: .3em
}

.support-link {
  float: right;
  font-size: 11px;
  line-height: 22px;
  padding: 0 .8em;
  border: solid 1px #ae6229;
  color: #7a3400;
  background-color: transparent;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 2px
}

.warning {
  float: right;
  position: relative;
  width: 36%;
  margin: .5em 0 2em 2em;
  border: solid 2px #a33f3f;
  padding: 1.2em 1em;
  color: #8d0101;
}

.warning>strong {
  font-size: 14px;
  font-weight: 600;
  display: block;
  padding-left: 2em;
  margin-bottom: 1em
}

.warning:before {
  content: "⚠︎";
  position: absolute;
  left: 16px;
  top: 14px;
  font-size: 20px
}

footer {
  text-align: center;
  color: #f4f2f2;
}

@media screen and (max-width:767px) {
  .banad {
    width: 320px;
    height: auto;
    min-height: 50px
  }
}

@media screen and (max-width:701px) {
  h1 {
    font-size: 29px
  }

  #wrapper {
    margin: 20px 0
  }

  .frequator-ui {
    margin-top: 45px;
    margin-bottom: 30px
  }

  .warning {
    width: auto;
    margin-left: 0
  }
}








/* ===== Scrollbar ===== */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #477c40;
  border-radius: 4px;
  cursor: grab;
}
::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
